@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

body {
  text-align: center;
  background-image: linear-gradient(to bottom, transparent 0%, rgb(194, 170, 170) 100%), url(../Imagens/back1.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100%;
  background-attachment: fixed;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  border: 0px;
  background-color: #ccc;
  width: 100%;
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
  scroll-padding-top: 120px;
}
#total {
  color: black;
  min-width: 1350px;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Oxanium', cursive;
}

/* Formatação menu*/


.menu {
  text-align: center;
  background-color: #f6031f;
  height: 130px;
  min-width: 1600px;
  width: 100%;
  position: fixed;
  bottom: 80%;
  
  z-index: 3;

}

.links {

  text-align: center;
  float: right;
  position: relative;
  right: 20%;
  top: 60%;
  width: 36%;
  color: white;

}

.conteudo {
  background: rgba(255, 255, 255, 0.869);
  border-radius: 20px;
  margin: 70px 150px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 80px;
  padding-bottom: 40px;
}

#container {
  padding: 50px 80px;
  width: 75%;
  padding: 1em;
  margin-left: .5em;


}

.conteudo-principal {
  width: 90%;
  height: 250px;
  margin: auto 300px;
  background-color: rgba(255, 255, 255, 0.446);
  border-radius: 20px;
  letter-spacing: 2px;
  padding: 25px;
  position: relative;
  top: 650px;
  right:70px;
  left: -57px;
  z-index: 2;

}

.conteudo-secundario {
  width: 56%;
  float: right;
  height: 110px;
}


  .rodape {

    margin:700px  auto 0px;

  }

/* Links Formatação*/

a:link,
a:visited {
  color: white;
  text-decoration: none;
  padding: 16px;
  text-transform: uppercase;
}

a:hover {
  color: #f6031f;
  background-color: white;
  transition-duration: 500ms;
}

a:active {
  color: red transition-duration 0.1;
}

/* formatações gerais*/
li {
  display: inline;
}

.pokedex-main {
  display: inline-block;
  margin: 20px;
  border-radius: 20px;
  padding: 15px;
  position: relative;
  background-color: #eee8e8;
}

footer {
  width: 100%;
  background-color: #f6031f;
  color: white;
  text-align: center;
  padding: 10px;
}

.logo {
  width: 23%;
  float: left;
  position: relative;
  left: 25%;
  top: 1%;
}


/*JOGOS*/
.indice {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 250px;
  text-align: left;
}

geracoes {
  font-family: Arial, sans-serif;
  padding-left: 20px;
}

.geracoes>li {
  margin-bottom: 15px;
}

.geracoes>li>a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
  display: block;
  padding: 5px 0;
}

.geracoes>li>a:hover,
.geracoes>li>ul>li>a:hover {
  background-color: #f0f0f0;
}

.geracoes>li>ul {
  padding-left: 20px;
}

.geracoes>li>ul>li {
  margin-bottom: 5px;
}

.geracoes>li>ul>li>a {
  color: #333;
  text-decoration: none;
  display: block;
  padding: 1px;
}

/*fim jogos*/

/*pokedex*/
.pokedex {
  width: 100%;
  max-width: 425px;
}

.pokemon__image {
  position: absolute;
  bottom: 55%;
  left: 50%;
  transform: translate(-63%, 20%);
  height: 18%;
}

.pokemon__data {
  position: absolute;
  font-weight: 600;
  color: #aaa;
  top: 54.5%;
  right: 27%;
  font-size: clamp(8px, 5vw, 25px);
}

.pokemon__name {
  color: #3a444d;
  text-transform: capitalize;
}

.form {
  position: absolute;
  width: 65%;
  top: 65%;
  left: 13.5%;
}

.input__search {
  width: 100%;
  padding: 4%;
  outline: none;
  border: 2px solid #333;
  border-radius: 5px;
  font-weight: 600;
  color: #3a444d;
  font-size: clamp(8px, 5vw, 1rem);
  box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons {
  position: absolute;
  bottom: 10%;
  left: 50%;
  width: 65%;
  transform: translate(-57%, 0);
  display: flex;
  gap: 20px;
}

.button {
  width: 50%;
  padding: 4%;
  border: 2px solid #000;
  border-radius: 5px;
  font-size: clamp(8px, 5vw, 1rem);
  font-weight: 600;
  color: white;
  background-color: #444;
  box-shadow: -2px 3px 0 #222, -4px 6px 0 #000;
}

.button:active {
  box-shadow: inset -4px 4px 0 #222;
  font-size: 0.9rem;
}

/*fim pokedex*/

/* Jogos */
.imagens {
  width: 500px;
  height: 350px;
  position: relative;
  right: 25%;
  margin: 20px 0;
}
.conteudo_jogos h2,
.conteudo_jogos h3{
  text-align: left;
  margin: 5px;
}
.conteudo_jogos p{
  text-align: left;
}
.conteudo h1 {
  text-align: center;
}
.intro {
  margin: 20px 0;
  text-align: left;
}
/*inicio carrossel*/
#slider {
  margin: 0 auto;
  width: 800px;
  height: 600px;
  overflow: hidden;
  position: relative;
  bottom: 120px;
  right: 150px;
  z-index: 1;
}

.slides {
  width: 400%;
  height: 400px;
  display: flex;

}

.slides input {
  display: none;
}

.slide {
  width: 25%;



}

.slide img {
  width: 800px;
  border-radius: 25px;
}

.manual-navigation {
  position: absolute;
  width: 800px;
  margin-top: -40px;
  display: flex;
  justify-content: center;
}

.manual-btn {
  border: 2px solid black;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: .5s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background-color: white;
}

#radio1:checked~.first {
  margin-left: 0;
}

#radio2:checked~.first {
  margin-left: -25%;
}

#radio3:checked~.first {
  margin-left: -50%;
}

#radio4:checked~.first {
  margin-left: -75%;
}

.navigation-auto div {
  border: 2px solid #20a6ff;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  transition: 1s;
}

.navigation-auto {
  position: absolute;
  width: 800px;
  margin-top: 360px;
  display: flex;
  justify-content: center;

}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1:checked~.navigation-auto .auto-btn1 {
  background-color: white;
}

#radio2:checked~.navigation-auto .auto-btn2 {
  background-color: white;
}

#radio3:checked~.navigation-auto .auto-btn3 {
  background-color: white;
}

#radio4:checked~.navigation-auto .auto-btn4 {
  background-color: white;
}

/*TABELAS TIPOS*/


.tabelas {
  text-align: center;
  margin: 20px auto;
  width: 750px;
}

td li {
  display: block;
  padding: 4px;
  margin-top: 5px;
}

table td {
  padding: 15px;
  text-align: left;
}

.tabela1 h1 {
  margin-bottom: 60px;
  padding: 25px;
}

.textinho img{
  width: 70%;
  float:left;
  position: relative;
  left: 150px;
  top:15px;
}

.texto{
  width: 80%;
  background: rgba(3, 2, 2, 0.12);
  color: black;
  margin: 60px 20px 20px ;
  border-radius: 10px;
  float: right;
  position: relative;
  top: 1px;
  right: 87px;
  
  padding: 20px;
  letter-spacing: 1px;


}

table {
  display: inline-block;
  margin: 10px auto;
  border-collapse: collapse;
}


.td1 {
  background: #a8a878;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table1 {
  background: #a8a878bb;
}

.table2 {
  background: #f08030b8;
}

.td2 {
  background: #f08030;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table3 {
  background: #6891f0a0;
}

.td3 {
  background: #6891f0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table4 {
  background: #f8d03096;
}

.td4 {
  background: #f8d030;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.td5 {
  background: #78c850;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table5 {
  background: #78c850b6;
}

.td6 {
  background: #98d8d8;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table6 {
  background: #98d8d89d;
}

.td7 {
  background: #c03028;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table7 {
  background: #c030289f;
}

.td8 {
  background: #a040a0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table8 {
  background: #a040a09f;
}

.td9 {
  background: #e0c068;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table9 {
  background: #e0c068a0;
}

.td10 {
  background: #a890f0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table10 {
  background: #a890f090;
}

.td11 {
  background: #f85888;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table11 {
  background: #f85888a9;
}

.td12 {
  background: #a8b820;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table12 {
  background: #a9b8209b;
}

.td13 {
  background: #b8a380;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table13 {
  background: #b8a4809f;
}

.td14 {
  background: #705898;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table14 {
  background: #71589899;
}

.td15 {
  background: #7038f8;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table15 {
  background: #7238f88c;
}

.td16 {
  background: #705848;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table16 {
  background: #70584886;
}

.td17 {
  background: #b8b8d0;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.table17 {
  background: #b8b8d09c;
}

.td18 {
  background: #ee99ac;
  padding: 5px;
  font-size: 15px;
  text-align: center;

}

.table18 {
  background: #ee99ab7f;
}

/*Fim tabela tipos*/